:root {
  --navbar-margin: 70px;
  --navbar-height: 70px;
}

html {
  height: 100vh;
}

@font-face {
	font-family: "Zen Maru Gothic";
	src: url("fonts/ZenMaruGothic-Medium.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-SemiBold.ttf");
}


body {
  width: auto;
  height: auto;
  margin: 0;
  color: #1b3336;
  background-color: #d9ecff;
  font-family: "Zen Maru Gothic", "Microsoft JhengHei", Helvetica, Arial;
}

code {
  font-family: "Inconsolata", "Consolas", monospace;
  font-weight: 400;
  font-size: 12pt;
  margin-top: 2px;
  margin-bottom: 2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.headers, #sec_headers {
  font-family: "Raleway", "Open Sans", "Roboto", Verdana, Arial, serif;
  line-height: 100%;
  color: #458a8d;

}
.headers {
  font-weight: 700;
}

#sec_headers {
  font-family: "Raleway", "Open Sans", "Roboto", Verdana, Arial, serif;
  font-weight: normal;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}


#layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--navbar-height) - var(--navbar-margin)); /* 120px comes from the navbar: 70px height + 50px margin */
  font-size: 12pt;
  font-weight: 500;
  line-height: 140%;

}

#layout_notimportant {

  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 6vh;
}

ul#square {
  list-style-type: square;
}

a {

  text-decoration: none;
  /*
  color: #1a51b7;
  transition: all 0.1s ease-in;
  */
}

a.increase {
  position: relative;
  transition: color 0.3s cubic-bezier(.47,0,.2,.95);
}

a.increase:hover {
  color: #2a78c8;
  transition: color 0.3s cubic-bezier(.47,0,.2,.95);
}
a.increase:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid rgba(42, 120, 200, 0.4);
  transition-timing-function: cubic-bezier(.47,0,.2,.95);
  transition-property: width;
  transition-duration: 0.3s;
}


a.increase:hover:after {
  width: 100%;
}

#hoverlink {
  color: unset;
  text-decoration: none;
}

#hoverlink:hover {
  text-decoration-line: underline;
}

footer {
  font-size: 12pt;
  text-align: center;
  background-color: #43565e;
  color: black;
  padding: 18px;
  width: 100%;
}
  

hr {
  width: 60%;
  height: 1px;
}

hr#titlehr {

  width: 100%;
  color: #858585;
  background-color: #858585;
  height: 3px;
  border-radius: 10px;
  border: none;
}

#list, li {
  margin-left: 30px;
}

li.code {
  margin-bottom: 10px;
}

.description {
  margin-left: 15px;
  text-justify: auto;
  text-align: justify;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 15px;
}

#copyright {
  font-size: 0.9em;
  text-align: center;
}

.icons {
  padding: 3px;
}

.badges {
	padding: 10px 0 5px;
}

/* Begins the navigation bar */

.navbar_menu {
  position: absolute;
  display: block;
}

.navbar_cross {
  position: absolute;
  display: none;
}

.navbar_menu .navbar_menu_line, .navbar_cross .line1, .navbar_cross .line2 {
  background-color: #52a6a9;
  transition: background-color 0.2s ease;
}

.navbar_menu:hover .navbar_menu_line, .navbar_menu:hover .line1, .navbar_menu:hover .line2 {
  background-color: #70bbb2;
  transition: background-color 0.1s ease-out;
}



.line1 {
	margin-bottom: 20px;
	transform: translateY(12px) rotate(45deg);
}

.line2 {
	transform: translateY(-12px) rotate(-45deg);
}
.line1, .line2 {
	width: 35px;
	height: 4px;
	background-color: #aaaaad;
	transition: background-color 0.2s ease;
}




.navbar_menu:hover {
  cursor: pointer;
}

.navbar_menu_line {
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;

  width: 40px;
  height: 6px;
  border-radius: 5px;

}

/* Ends the hamburguer menu open */

#navbar{
  z-index: 200;
  visibility: visible;
  overflow: hidden;
  background-color: #207777;
  box-sizing: border-box;
  height: auto;
  margin-bottom: var(--navbar-height);
  width: 100%;
}

.subnav {
  float: left;
  overflow: hidden;
}


.subnav a {
  display: flex;
  vertical-align: center;
  place-content: center;
  margin-bottom: auto;
  margin-top: auto;

  float: inherit;

  width: 10vw;
  font-size: inherit;
  color: white;


}


.subnav button.subnavhover, .subnav a {
  width: 10vw;
  font-size: inherit;  
  border: none;
  outline: none;
  color: white !important;
  background-color: inherit;
  font-family: inherit;
  text-align: center;
  height: var(--navbar-height);
}



button.cursorpointer {
  width: 10vw;
  font-size: inherit;  
  border: none;
  outline: none;
  color: white;
  background-color: #207777;
  font-family: inherit;
  text-align: center;
  height: var(--navbar-height);
  vertical-align: top;
}

.cursorpointer {
  cursor: pointer;
}

.subnav button.cursorpointer, .subnavmenus {
  background-color: #207777;
  transition: background-color 0.1s ease-out;
}


.subnav button.cursorpointer:hover, .subnavmenu:hover, .subnav button.cursorpointer:focus, .subnavmenu:focus {
  background-color: #207b89;
  transition: background-color 0.2s ease-out;
}

.subnav-content a
{
  float: left;
  color: white;
  height: inherit !important;
}

.subnav-content {
  position: absolute;
  left: 0;
  background-color: #207777;
  height: var(--navbar-height);
  display: block;
}


.subnavhover + .subnav-content {
  visibility: hidden;
  opacity: 0%;
  transition: all 0.15s;
}

.subnavhover:hover + .subnav-content, .subnav-content:hover {
  visibility: visible;
  opacity: 100%;
  transition: opacity 0.3s;
}

/* Colored text selection */
::selection {
  background-color: #20c0ba;
}
::-moz-selection {
  background-color: #20c0ba;
}

/* Ends the navigation bar */

@keyframes hr_animate {
  0%   {width: 60%;}
  100% {width: calc(100% - (100vh)/100);}
}

.titletext {
  font-size: 14pt;
  font-weight: bold;
}

/* Viewport size adapters */

@media only screen and (max-width: 992px)
{
  #navbara, .subnav .subnavbtn, .subnav button.subnavhover, button.cursorpointer {
    width: 99.2px;
  }
  hr {
    width: 100%;
  }
  #layout {
    line-height: 145%;
  }
  #list, li {
    margin-left: calc(100vh * 30/992); 
  }
  .description {
    margin-left: calc(100vh * 15/992); 
  }
}

@media only screen and (max-width: 600px)
{
  .navbar_menu {
    display: block;
  }
  #navbara, .subnav .subnavbtn, .subnav button.subnavhover, button.cursorpointer{
    width: 100vw;
  }
  #navbar{
    visibility: hidden;
    display: none;
  }
}

/* Set a fixed size for some elements if the viewport is too big */
@media only screen and (min-width: 1536px)
{
  #layout_notimportant {
    margin-right: 185px;
    margin-left: 185px;
  }
  hr {
    width: 692px;
    float: left;
    transition: width 0.35s ease-out;
  }
  #navbara {
    width: 153.6px;
  }
  .subnav button.subnavhover {
    width: 153.6px;
  }
}

@media only screen and (min-height: 300px) and (max-height: 466px)
{
  button.cursorpointer, .subnav-content, .subnav button.subnavhover, .subnav a {
    height: 15vh;
  }
}

@media only screen and (max-height: 299px)
{
  button.cursorpointer, .subnav-content, .subnav button.subnavhover, .subnav a {
    height: calc(299px*0.15);
  }
}

@media only screen and (min-height: 864px)
{
  #layout_notimportant {
    margin-top: 51.84px;
  }
}

@media only screen and (prefers-color-scheme: dark)
{
  .headers {
    color: #52a6a9;
  }

  footer, .navbar_menu_line, .navbar_menu .navbar_menu_line, .line1, .line2 {
    background-color: #82A0A0;
    color: black;
  }
  a {
    color: #5a9fbe;
  }
  a:hover {
    color: #4a68c0;
  }
  body {
    color: #c0c9c9;
    background-color: #172126;
  }
  hr {
    color: #4a4a4a;
    background-color: #4a4a4a;
  }
  hr#titlehr {
    color: #2e302e;
    background-color: #2e302e;
  }
  ::selection {
    background-color: #20504d;
  }
  ::-moz-selection {
    background-color: #20504d;
  }
}